/*
### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)
*/


body {
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  color: white;
  width: 18em;
  padding: 1.5em 1.5em 1em 1.5em;
  border-radius: 1em;
}

.card-image img {
  width: 18em;
  height: 18em;
  border-radius: 1em;
  display: block;
}

/*set to position relative, so that its child element in ::after could be set to absolute*/
.card-image a {
  display: block;
  position: relative;
}

/*colored overlay effect is here. set to 0 opacity to be invisble until you hover over it. */
.card-image a::after {
  content: '';
  position: absolute;
  background-color: hsl(178, 100%, 50%);;
  opacity: 0;
  width: 18em;
  height: 18em;
  top:0;
  border-radius: 1em;
}

/*
learned how to center an element of position absolute by setting top,left to 50% and its margins to half of the width/height.
set to 0 opacity so its invisble until you hover over it

this code below is for the view icon that appears when you hover on the image
*/
.card-image a::before {
  content: '';
  background-image: url(images/icon-view.svg);
  width: 46px;
  height: 46px;
  opacity: 0;
  position: absolute;
  left: 50%;
  margin-left: -23px;
  top: 50%;
  margin-top: -23px;
}

/*only show the image color overlay effect and the icon on hover */
.card-image a:hover::after, .card-image a:hover::before {
  opacity: 0.5;
}


.details_description p {
  color: hsl(215, 51%, 70%);
  line-height: 1.5em;
}

.details_description h1 {
  font-size: 1.5em;
}

.details_description h1:hover {
  color: hsl(178, 100%, 50%);
}

.eth {
  color: hsl(178, 100%, 50%);
}

/*eth icon*/
.eth::before {
  content: '';
  background-image: url(images/icon-ethereum.svg);
  height: 18px;
  width: 11px;
  float:left;
  display: block;
  margin-right: 5px;
  margin-top: 2px;
}

.price_and_expiry {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

.expiration {
  color: hsl(215, 51%, 70%);
}

.expiration::before {
  content: '';
  background-image: url(images/icon-clock.svg);
  display: block;
  width: 18px;
  height: 18px;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}

.author-image {
  border: solid white 1px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.author img {
  width: 30px;
}

.author {
  display: flex;
  align-items: center;
  border-top: solid hsl(215, 51%, 70%) 1px;
  margin-top: 5px;
  padding-top: 10px;
}

.author p {
  color: hsl(215, 51%, 70%);
  margin-left: 15px;
}

.author span {
  color: white;
}

.author span:hover {
  color: hsl(178, 100%, 50%);
}









